.dashboard {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #f1f5f9;
  padding: 25px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.card:hover {
  background: #dbeafe;
}
